flowscripts/arch_etc/fpga_repack_constraints.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="repack_design_constraints">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="pin_constraint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pin_constraint">
    <xs:complexType>
      <xs:attribute name="net" use="required" type="xs:NCName"/>
      <xs:attribute name="pb_type" use="required" type="xs:NCName"/>
      <xs:attribute name="pin" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
